{{/* variable declarations */}}

{{- $imgfile := (.Get 0) -}}
{{- $alttext := (.Get 1) -}}


{{/*
    Check if action var is set. First check if valid value, second if 
    sets size.



{{- with $action -}}
    {{- if not (or (eq $action "zoom") (eq $action "magnify")) -}}
        {{- (errorf `Error: Invalid value "%s". Valid values include "zoom" and "magnify"` $action) -}}
    {{- end -}}

    {{- if eq $action "magnify" -}}
        {{- $size = "40%" -}}
    {{- end -}}
{{- end -}}

*/}}



{{/* build image path */}}

{{- $imagedir := "/images" -}}
{{- $imagepath := printf "%s%s" $imagedir $imgfile -}}


{{/* build image html */}}
{{/* id="zoom-margin" applies medium-zoom JS library */}}

{{/*
    If image file exists, build img tag. Add id and size attributes if $action 
    is set properly.
*/}}

{{- if $imgfile -}}
<img src="{{ $imagepath }}" alt={{ $alttext }} title={{ $alttext }}
>

{{- printf "imagepath: %s" $imagepath -}}
{{- else -}}
    {{- (errorf `Error: "%s" image file not found. Check the /"%s" directory.` $imgfile) -}} 
{{- end -}}
